@{
    ViewBag.Title = "Home Page";
    ViewBag.Message = "www.flyuia.com";
}

<div class="jumbotron">
    <h1>Ukraine Internatinal Airlines</h1>
    <p class="lead">Ukraine International is Ukraine’s strategic aviation business. UIA is a low-fare network carrier. Its core businesses are passenger and cargo transportation.
Ukraine International offers a vast selection of point-to-point and transit travel opportunities. The airline connects Ukraine with 38 countries in Europe, Asia, America, Africa, and the Middle East. The carrier operates 1100 international and domestic flights weekly and provides connections with partner airlines’ services to over 3000 destinations worldwide.
UIA holds a handling network. The latter empowers the carrier to closely monitor service quality, sell handling services to other airlines, and generate more employment opportunities in Ukraine.
By 2021, UIA plans to actively enhance and renew fleet, expand Eastern and South-eastern route networks, increase frequencies of westbound flights, as well as further develop transit potential of Kiev Boryspil International airport and regional hubs in the cities of Ukraine.</p>
    <p><a href="https://www.flyuia.com/" class="btn btn-primary btn-lg">Learn More At flyuia.com</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>About</h2>
        <p>

            <a href="https://www.flyuia.com/"><h3>@ViewBag.Message</h3></a>

<p>Use this area to provide additional information.</p>

        </p>
    </div>
    <div class="col-md-6">
        <h2>Contact Us</h2>
        <p>
            <h3>@ViewBag.Message</h3>
            <address>
                One Microsoft Way<br />
                Redmond, WA 98052-6399<br />
                Phone: 0111-425-55510
            </address>

            <address>
                <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
            </address>
        </p>
    </div>
</div>
